bomba==1.1.113
colorama==0.4.6
dirhash==0.2.1
docstring_parser==0.15
GitPython==3.1.29
ipdb==0.13.9
pipreqs==0.4.11
pytorch_lightning==1.8.5
rich==12.6.0
setuptools==65.6.3
sources==1.1.0
sympy==1.11.1
torch==1.13.0
traitlets==5.7.1
