:root {
  --bs-code-color: #1fd4f9;
}

html,
body {
  background: #285430;
  /*color: black;*/
  margin: 0;
  padding: 0;
  color: black;
}
a {
  color: black;
}
nav-item {
  color: black;
}
code {
  color: blue;
}
dropdown-item {
  background: #5f8d4e;
}
h1 {
  font-size: 2.5rem;
  margin-top: 10px;
}
/* div.container { */
/*   background: #5f8d4e; */
/* } */

nav.container {
  background: #5f8d4e;
}
